*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  position: fixed;
  list-style: none;
  right: 5vw;
  top:3vh;
}
ul li{
  display: inline-block;
  background-color: yellow;
  border-radius: 50%;
  margin-left:10px;
  }
ul li a {
  padding: 50px;
  text-decoration: none;
  font-size: 30px;
}

#section_one{
  height: 100vh;
  width: 100%;
  background-color: red;
  text-align: center;
}
.main_one{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

#section_two{
  height: 100vh;
  width: 100%;
  background-color: green;
  text-align: center;
  position: relative;
}
.main_two{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
