*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'PT Serif', serif;
  font-size: 20px;
}

ul {
  position: fixed;
  list-style: none;
  right: 5vw;
  top:3vh;
  z-index: 100;
}
ul li {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin-left:10px;
  width: 50px;
  height: 50px;
  box-shadow: black;
  }
ul li a {
  padding: 20px;
  text-decoration: none;
  font-size: 40px;
  color: black;
}

section {
  height: 100vh;
  width: 100%;
  text-align: center;

}
.main {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
h1{
  margin-top: -30px;
}
#section_one {
    background-color: red;
    color:yellow;
}
#section_two {
  position: relative;
  background-color: green;
  color: red;
}
#section_three {
  background-color: yellow;
  color:green;
}
